NET "b_up_a" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_up_b" LOC = P50 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_down_a" LOC = P41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_down_b" LOC = P40 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_left_a" LOC = P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_left_b" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_right_a" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_right_b" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;